.jumbotron{
    background-color: azure;
    color: #333333;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: azure;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-servicios{
    margin-top: 10px;
    flex:1 150px;
    padding: 2px 5px 2px 5px;
    border: #111111 1px solid;
    margin: 5px;
    border-radius: 10px;
    background-color: #fafafa;
}
.btn-saber{
    width: 100%;
    
}